<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>包寒吴霜 | Han-Wu-Shuang (Bruce) Bao</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico?"/>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h2>包寒吴霜 | Bao H.-W.-S.</h2>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <h4><br/>E-mail: <a href="mailto:baohws@foxmail.com">baohws@foxmail.com</a></h4>
        <h4><a href="https://www.researchgate.net/profile/Han_Wu_Shuang_Bao">ResearchGate</a> | <a href="https://github.com/psychbruce">GitHub</a> | <a href="https://osf.io/gb5uv/">OSF</a> | <a href="https://www.zhihu.com/people/psychbruce/">知乎</a></h4>

        <!--
        <p>
          <a href="https://psychbruce.github.io/#education">
            ● Education
          </a><br/>
          <a href="https://psychbruce.github.io/#skills-and-expertise">
            ● Skills & Expertise
          </a><br/>
          <a href="https://psychbruce.github.io/#research-interests">
            ● Research Interests
          </a><br/>
          <a href="https://psychbruce.github.io/#publications-and-preprints">
            ● Publications & Preprints
          </a><br/>
          <a href="https://psychbruce.github.io/#conference-presentations">
            ● Conference Presentations
          </a><br/>
          <a href="https://psychbruce.github.io/#workshops">
            ● Workshops
          </a><br/>
          <a href="https://psychbruce.github.io/#academic-experiences">
            ● Academic Experiences
          </a><br/>
          <a href="https://psychbruce.github.io/#selected-blog-articles">
            ● Selected Blog Articles
          </a><br/>
          <a href="https://psychbruce.github.io/#personal-hobbies">
            ● Personal Hobbies
          </a><br/>
        </p>
        -->
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
