<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>包寒吴霜 | Han-Wu-Shuang (Bruce) Bao</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico?"/>

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
        <h3>{{ site.subtitle }}</h3>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p><br/>E-mail: <a href="mailto:baohws@foxmail.com">baohws@foxmail.com</a></p>

        <p><a href="https://www.researchgate.net/profile/Han_Wu_Shuang_Bao">ResearchGate</a> | <a href="https://github.com/psychbruce">GitHub</a> | <a href="https://osf.io/gb5uv/">OSF</a> | <a href="https://www.zhihu.com/people/psychbruce/">知乎</a></p>

        <ul>
          <li><a href="https://psychbruce.github.io/#education">
            Education
          </a><li>
          <li><a href="https://psychbruce.github.io/#skills-and-expertise">
            Skills and Expertise
          </a><li>
          <li><a href="https://psychbruce.github.io/#research-interests">
            Research Interests
          </a><li>
          <li><a href="https://psychbruce.github.io/#publications">
            Publications
          </a><li>
          <li><a href="https://psychbruce.github.io/#conference-presentations">
            Conference Presentations
          </a><li>
          <li><a href="https://psychbruce.github.io/#workshops">
            Workshops
          </a><li>
          <li><a href="https://psychbruce.github.io/#academic-experiences">
            Academic Experiences
          </a><li>
          <li><a href="https://psychbruce.github.io/#selected-blog-articles">
            Selected Blog Articles
          </a><li>
          <li><a href="https://psychbruce.github.io/#personal-hobbies">
            Personal Hobbies
          </a><li>
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
